.header{
    margin-left:120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-section{
   border-bottom: 1px solid rgba(0, 0, 255, 0.189);
}
.link a{
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
}
.link a:hover{
    color:blue;
    text-decoration: underline;
    transition: 2s ease-out;
}
.logo h4{
   color: rgba(0, 0, 255, 0.573);
   font-size: 35px;
   margin:0px;
   padding: 10px;
   
}
.logo h4 small{
    color: skyblue;
    font-size: 20px;
}